.floatleft {
    float: left;
}

.floatright {
    float: right;
}



#test {
    display: block;
    background-color: purple;
    display: inline-block;
    width: 98vw;
    border: 3px solid violet;
    border-radius: 6px;
    margin: 6px;
}

